<p id="notice"><%= notice %></p>

<p>
  <strong>Stage:</strong>
  <%= @sales_stage.stage %>
</p>

<%= link_to 'Edit', edit_sales_stage_path(@sales_stage) %> |
<%= link_to 'Back', sales_stages_path %>
