	<div class="row">
        <%#= render 'top_form_nav' %>
		<div class="col-sm-12 col-md-12">
			<h2>New AppleCare Opportunity</h2>
		</div>
		<%#= render 'form', support_opportunity: @support_opportunity %>
		<%= render 'form', support_opportunity: @support_opportunity %>
	</div>