<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @apple_care.product %>
</p>

<%= link_to 'Edit', edit_apple_care_path(@apple_care) %> |
<%= link_to 'Back', apple_cares_path %>
