<!-- <div class="container"> -->
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h2>Editing Opportunity for <%= @opportunity.customer_name %></h2>
		</div>
		<%= render 'form', opportunity: @opportunity %>	
    </div>
<!-- </div> -->


