<!-- <div class="container"> -->
	<div class="row">
        <%#= render 'top_form_nav' %>
		<div class="col-sm-12 col-md-12">
			<h2>New Opportunity</h2>
		</div>
		<%= render 'form', opportunity: @opportunity %>
	</div>
<!-- </div> -->
